@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
  font-family: "Jost", sans-serif;

}
body {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  background: url('../public/backgroundBlack.jpg');
  /* background: linear-gradient(to left bottom , rgb(35, 35, 153) , rgb(24, 177, 24),rgb(2, 138, 2) ); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width : 640px){
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 50%;
  }
}